main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(37, 37, 37, 0.93);
    margin: 20px auto;
    font-family: "Helvetica Neue", sans-serif;
}
.leftMenu-container {
    width: 100%;
    max-width: 180px;
    border-right: 1px solid rgba(176, 176, 176, 0.2);
}
.leftMenu-container > h6 {
    color: #B0B0B0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 25px 10px;
    margin: 0;
}
.leftMenu-container > ul {
    margin: 0;
    padding: 10px;
}
.leftMenu-container > ul > li {
    list-style-type: none;
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 400;
    padding: 3px 5px;
    cursor: pointer;
}
.homePage-container {
    width: 100%;
    padding: 10px;
}
.homePage-container__top, .homePage-container__bottom {
    display: flex;
    justify-content: space-between;
}
.homePage-container__top > .suggestions {
    width: 100%;
    max-width: 240px;
    padding: 10px;
}
.homePage-container__top > .suggestions > h2 {
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(176, 176, 176, 0.3);
}
.homePage-container__top > .suggestions > ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
.homePage-container__top > .suggestions > ul > li {
    color: #A4B0C6;
    padding: 3px;
}
.homePage-container__top > .suggestions > ul > li > a {
    color: #A4B0C6;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
.homePage-container__bottom > .suggestions {
    width: 100%;
    max-width: 240px;
    padding: 10px;
}
.homePage-container__bottom > .suggestions > h2 {
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(176, 176, 176, 0.3);
}
.homePage-container__bottom > .suggestions > ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
.homePage-container__bottom > .suggestions > ul > li {
    color: #A4B0C6;
    padding: 3px;
}
.homePage-container__bottom > .suggestions > ul > li > a {
    color: #A4B0C6;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}